{% extends 'food/base.html' %}
{% load ratings %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ item.item_image }}" height="300px" width="300px" class="card">
        </div>
        <div class="col-md-8">
            <h1>Recipe: {{ object.item_name }}</h1>
            <h6>Description: {{ object.item_desc }}</h6>
            <p>Cooking time {{ object.cooking_time }}</p>
            <p>Views: {{ object.views }}</p>
            <p>Published on: {{ object.publish_date }}</p>
            {% if object.update_date %}
            <p>Last updated: {{ object.update_date }}</p>
            {% endif %}

            {% if item.user_name == user %}
                <a href="{% url 'food:update_item' item.id %}">Update</a>
                <a href="{% url 'food:delete_item' item.id %}">Delete</a>
            {% endif %}
                <br>
            <h6>
                {% ratings object %}
            </h6>

            <h6>Comments</h6>
                <div id="comments">
                {% for comment in comments %}
                    <div class="comment">
                    <p>{{ comment.text }}</p>
                    <p><small>by {{ comment.user.username }} on {{ comment.created_at }}</small></p>
                    </div>
                {% empty %}
                <p>No comments yet.</p>
                {% endfor %}
                 </div>

            <h6>Add a comment</h6>
                <form method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
        </div>
    </div>

</div>
{% endblock %}
