{% extends 'food/base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ item.item_image }}" height="300px" width="300px" class="card">
        </div>
        <div class="col-md-6">
            <h1>{{ object.item_name }}</h1>
            <h2>{{ object.item_desc }}</h2>
            <h3>${{ object.item_price }}</h3>
            <a href="{% url 'food:update_item' item.id %}">Update</a>
            <a href="{% url 'food:delete_item' item.id %}">Delete</a>
        </div>
    </div>

</div>
{% endblock %}

<!--Intital version -  <h1>{{ item.item_name }}</h1> replaced with object.item_name, etc -->