{% extends 'food/base.html' %}
{% load ratings %}

<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index Page</title>
</head>
<body>
{% block body %}
    {% for item in item_list %}
        <div class="row">
            <div class="col-md-3 offset-md-2">
                <img class="card" height="150px" width="150px" src="{{ item.item_image }}">
            </div>
            <div class="col-md-4">
                <h3>{{ item.item_name }}</h3>
                <h5>{{ item.item_desc }}</h5>
                <p>Views {{ item.views}} | Cooking time {{ item.cooking_time }} | Published on: {{ item.publish_date }}</p>
                <p>
                    {% load ratings %}
                    {% ratings item %}
                </p>
                <a href="{% url 'profile' username=item.user_name  %}">{{ item.user_name }}</a>
            </div>
            <div class="col-md-2">
                <a href="{% url 'food:detail' item.id %}" class="btn btn-primary">View</a>
            </div>
        </div>
<hr>
    {% endfor %}
{% endblock %}
</body>
</html>

