{% extends 'food/base.html' %}
{% load ratings %}

<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index Page</title>
</head>
<body>
{% block body %}
    {% for item in item_list %}
        <div class="row">
            <div class="col-md-3 offset-md-2">
                <img class="card" height="300px" width="300px" src="{{ item.item_image }}">
            </div>
            <div class="col-md-4">
                <h3>
                    <a href="{{ item.get_absolute_url }}" class="kur">{{ item.item_name }}</a></h3>
                <h5>{{ item.item_desc }}</h5>
                <p>Views {{ item.views}} | Published on {{ item.publish_date|date:"d F Y" }} | By
                    <a href="{% url 'profile' username=item.user_name  %}">{{ item.user_name }}</a>
                </p>
                <p>
                    {% ratings item %}
                </p>
            </div>
            <div class="col-md-2">
                <a href="{% url 'food:detail' item.id %}" class="btn btn-primary">View</a>
            </div>
        </div>
<hr>
    {% endfor %}
{% endblock %}
</body>
</html>

