{% extends 'food/base.html' %}
{% load ratings %}


<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index Page</title>
</head>
<body>
{% block body %}
    {% for item in item_list %}
        <div class="row">
            <div class="col-md-3 offset-md-2">
                <img class="card" height="300px" width="300px" src="{{ item.item_image }}">
            </div>
            <div class="col-md-4">
                <h3>
                    <a href="{{ item.get_absolute_url }}" class="kur">{{ item.item_name }}</a></h3>
<!--                <h5>{{ item.item_desc | safe}}</h5>-->
                <p>Views {{ item.views}} | Published on {{ item.publish_date|date:"d F Y" }} | By
                    <a href="{% url 'profile' username=item.user_name  %}">{{ item.user_name }}</a>
                </p>
                <p>
                    {% ratings item %}
                </p>
            </div>
            <div class="col-md-2">
                <a href="{% url 'food:detail' item.id %}" class="btn btn-primary">View</a>
            </div>
        </div>
<hr>
    {% endfor %}



<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&q={{ request.GET.q }}">&laquo; First</a>
            <a href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&q={{ request.GET.q }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}
</body>
</html>

