{% extends 'food/base.html' %}
{% block body %}
{% load static %}
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card">
        <div class="card-header text-white bg-info">
          <div class="card-title">
            Add Recipe
          </div>
        </div>
        <div class="card-body">
          <form method="POST">
          {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
<!--            {% for field in form %}
              <div class="form-group">
                {{ field.label }}
                  <br>
                {{ field }}
              </div>
            {% endfor %}-->
              <br>
          <button type="submit" class="btn btn-info text-white">Save</button>
          </form>
        </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}