{% extends 'food/base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-4">
            {% if user == profile.user %}
                <h1>Hello, {{ user.username }}!</h1>
                <h2>This is your profile page</h2>
                <h3>Location: {{ user.profile.location }}</h3>
                <img src="{{ user.profile.image.url }}" height="150px" width="150px">
            {% else %}
                <h1>Profile of {{ username }}</h1>
                <h3>Location: {{ profile.location }}</h3>
                <img src="{{ profile.image.url }}" height="150px" width="150px">
            {% endif %}
        </div>
        <div class="col-8">
            {% if user == profile.user %}
            <h2>My Recipes</h2>
            {% else %}
            <h2>Recipes</h2>
            {% endif %}
                {% if items %}
                <ul>
                {% for item in items %}
                    <li>
                        <a href="{{ item.get_absolute_url }}">{{ item.item_name }}</a>
                    </li>
                {% endfor %}
                </ul>
                {% else %}
                <p>No recipes found.</p>
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}