{% extends 'food/base.html' %}
{% block body %}
<div class="container">
    <div class="col-md-4">
        <div class="row">
            {% if user == profile.user %}
                <h1>Hello, {{ user.username }}!</h1>
                <h2>This is your profile page</h2>
                <h3>Location: {{ user.profile.location }}</h3>
                <img src="{{ user.profile.image.url }}" height="350px" width="350px">
            {% else %}
                <h1>Profile of {{ username }}</h1>
                <h3>Location: {{ profile.location }}</h3>
                <img src="{{ profile.image.url }}" height="350px" width="350px">
            {% endif %}
            <div class="col-md-4">
                <div class="row">
<!--                    <h2>Recipes</h2>
                    {% if items %}
                        <ul>
                            {% for item in items %}
                                <li>
                                    <a href="{{ item.get_absolute_url }}">{{ item.item_name }}</a>
                                    <p>{{ item.item_desc }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No recipes found.</p>
                    {% endif %}-->
        </div>
    </div>
</div>
{% endblock %}

<!--Initial version-->
<!--<div class="container">
  <div class="row">
    <div class="col-md-4">
        <h1>Hello, {{ user.username }}!</h1>
        <h2>This is your profile page</h2>
        <h3>Location: {{ user.profile.location }}</h3>
        <img src="{{ user.profile.image.url }}" height="350px" width="350px">
    </div>
    </div>
</div>-->